#kartu{
    width: 500px;
    height: 400px;
    display: flex;
    align-items:center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#body{
    width:100%;
    padding: 15px 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.582);
    color: white;
    transform: translateY(100%);
    transition: all 0.35s ease;
}

#kartu:hover #body{
    transform: translateY(0);
}

    /* h3{
        font-size: 30px;
    }

    .icons{
        width: 130px;
        display: flex;
        justify-content: space-evenly;
    }

    .icons i{
        font-size: 30px;
        color: rgba(255, 255, 255, 0.274);
        transition: all 0.2s ease;
    }

    .icons i:hover{
        color: rgba(255, 255, 255, 0.438);
    } */